.card {
  height: 50rem;
  -webkit-perspective: 200rem;
  perspective: 200rem;
  position: relative;

  &__side {
    height: 50rem;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(243, 106, 14, 0.541),
          rgba(243, 75, 14, 0.8)
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(174, 243, 14, 0.418),
          rgba(41, 243, 14, 0.788)
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(14, 235, 243, 0.411),
          rgba(14, 178, 243, 0.8)
        );
      }
      &-4 {
        background-image: linear-gradient(
          to right bottom,
          rgba(121, 14, 243, 0.377),
          rgba(94, 14, 243, 0.8)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    background-position: center;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background-blend-mode: screen;
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(243, 106, 14, 0.541),
          rgba(243, 75, 14, 0.8)
        ),
        url("../img/nat-5.jpg");
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(174, 243, 14, 0.418),
          rgba(41, 243, 14, 0.788)
        ),
        url("../img/nat-5.jpg");
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(14, 235, 243, 0.411),
          rgba(14, 178, 243, 0.8)
        ),
        url("../img/nat-7.jpg");
    }
    &--4 {
      background-image: linear-gradient(
          to right bottom,
          rgba(121, 14, 243, 0.377),
          rgba(94, 14, 243, 0.8)
        ),
        url("../img/nat-7.jpg");
    }
  }
  &__heading {
    position: absolute;
    top: 13.2rem;
    right: 1rem;
    width: 57%;
    text-align: right;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__heading-span {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.5rem;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(243, 106, 14, 0.3),
        rgba(243, 75, 14, 0.5)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(174, 243, 14, 0.2),
        rgba(41, 243, 14, 0.5)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(14, 235, 243, 0.2),
        rgba(14, 178, 243, 0.5)
      );
    }
    &--4 {
      background-image: linear-gradient(
        to right bottom,
        rgba(121, 14, 243, 0.1),
        rgba(94, 14, 243, 0.5)
      );
    }
  }
}
